.nav {
    padding-top: 8%;
}

.state {
    padding-top: 3%;
    padding-bottom: 3%;
}

.state_inner {
    margin-right: 3%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-left: 3%
}

.nav_second {
    justify-content: center;
    align-items: center;
}